<div class="container mt-5">
    <h1 class="mt-5">{{ news.title }}</h1>
    <div *ngIf="news.images.length > 0" class="image-buttons-container mt-3">
        <button *ngIf="news.images.length > 1 && currentImageIndex > 0" (click)="showPreviousImage()"
                class="btn btn-secondary">
            &lt;
        </button>
        <img class="mx-3" [src]="news.images[currentImageIndex]" alt="News Image">
        <button *ngIf="news.images.length > 1 && currentImageIndex < news.images.length - 1" (click)="showNextImage()"
                class="btn btn-secondary">
            &gt;
        </button>
    </div>
    <p class="mt-3"><b>Published {{ news.date }}</b></p>
    <p class="mt-3">{{ news.content }}</p>
</div>
