<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>


<body>
<!-- Header -->
<div class="header-container">
  <!-- Logo in the top left -->
  <div class="logo"></div>

  <!-- Navigation Buttons -->
  <div class="nav-buttons">
    <button class="v76_370" [class.active]="currentPage === 'home'" (click)="setActivePage('home')">
      Home
    </button>
    <button class="v76_371" [class.active]="currentPage === 'news'" (click)="setActivePage('news')">
      News
    </button>
    <button class="v76_372" [class.active]="currentPage === 'merchandise'"
            (click)="setActivePage('merchandise')">
      Merchandise
    </button>
    <button class="v76_373" [class.active]="currentPage === 'search'"
            (click)="setActivePage('search')">
      Search
    </button>
  </div>

  <!-- Authentication Buttons -->
  <div class="auth-buttons">
    @if (!authService.isLoggedIn()) {
      <div class="button-container">
        <button class="login-button" [class.active]="currentPage === 'login'"
                (click)="setActivePage('login')">
          Login
        </button>
      </div>
      <div class="button-container">
        <button class="signup-button" [class.active]="currentPage === 'register'"
                (click)="setActivePage('register')">
          Sign up
        </button>
      </div>
    } @else {
      <div class="button-container">
        <button class="cart-button" [class.active]="currentPage === 'cart'" (click)="routeToUserCart('cart/')">
          <i class="fas fa-shopping-cart"></i> Cart
        </button>
        @if (authService.isUserAdmin()) {
          <button class="admin-button" [class.active]="currentPage === 'admin'" (click)="setActivePage('admin')">
            <i class="bi bi-file-text me-1"></i>
            Admin
          </button>
        }
        <button class="my-account-button" [class.active]="currentPage === 'user-account'" (click)="setActivePage('user-account')">
          <i class="bi bi-person"></i> My Account
        </button>
        <button class="login-button" [class.active]="currentPage === 'logout'"
                (click)="logoutUser()">
          Logout
        </button>
      </div>
    }
  </div>
</div>
</body>
