body {
  background-color: #A7A3FF;
}

.custom-heading {
  color: #3e3e3e;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-label {
  color: #333;
}

.custom-input {
  background-color: #F0EFFF;
  color: #333;
  border-radius: 8px;
}

.custom-input::placeholder {
  color: #A7A3FF;
}

.custom-input:focus {
  border-color: #7d5efc;
  box-shadow: 0px 4px 10px rgba(125, 94, 252, 0.3);
}

.custom-button {
  background-color: #4D47C3;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-color: #4D47C3;
}

.custom-button:hover {
  background-color: #514dc7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-color: #514dc7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}