<div class="container-fluid d-flex flex-column">
  <div class="row flex-grow-1 align-items-center justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="custom-heading">Reset your password</h1>
    </div>
    <div class="col-md-4 p-4">
      <h2 class="mb-4">Please check your email and enter the reset code</h2>
      <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
        <!-- Reset Code Field -->
        <div class="form-group">
          <label for="resetCode" class="custom-label fw-bold">Reset Code</label>
          <input
              type="number"

              id="resetCode"
              class="form-control custom-input"
              placeholder="Password reset code"
              formControlName="code"
          />
          <div *ngIf="submitted && verifyCodeForm.controls.code.errors" class="text-danger mt-1">
            <small *ngIf="verifyCodeForm.controls.code.errors.required">
              The reset code is required!
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex flex-column align-items-center mt-4">
          <button type="submit" class="btn btn-primary w-100 custom-button">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
