<div class="container-fluid d-flex flex-column">
  <div class="row flex-grow-1 align-items-center justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="custom-heading">Set your new password</h1>
    </div>
    <div class="col-md-4 p-4">
      <h2 class="mb-4">Please enter your new password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <!-- New Password Field -->
        <div class="form-group">
          <label for="newPassword" class="custom-label fw-bold">New Password</label>
          <div class="password-input-wrapper">
            <input
                [type]="showNewPassword ? 'text' : 'password'"
                id="newPassword"
                class="form-control custom-input"
                placeholder="New password"
                formControlName="newPassword"
            />
            <i
                class="bi bi-eye"
                [class.bi-eye-slash]="showNewPassword"
                [class.bi-eye]="!showNewPassword"
                (click)="toggleNewPasswordVisibility()"
            ></i>
          </div>
          <div *ngIf="submitted && resetPasswordForm.controls.newPassword.errors"
               class="text-danger mt-1">
            <small *ngIf="resetPasswordForm.controls.newPassword.errors.required">
              A new password is required!
            </small>
            <small *ngIf="resetPasswordForm.controls.newPassword.errors.minlength">
              Password must be at least 8 characters long!
            </small>
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group">
          <label for="confirmPassword" class="custom-label fw-bold">Confirm Password</label>
          <div class="password-input-wrapper">
            <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                id="confirmPassword"
                class="form-control custom-input"
                placeholder="Confirm password"
                formControlName="confirmPassword"
            />
            <i
                class="bi bi-eye"
                [class.bi-eye-slash]="showConfirmPassword"
                [class.bi-eye]="!showConfirmPassword"
                (click)="toggleConfirmPasswordVisibility()"
            ></i>
          </div>
          <div *ngIf="submitted && resetPasswordForm.controls.confirmPassword.errors"
               class="text-danger mt-1">
            <small *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">
              Confirming your password is required!
            </small>
            <small *ngIf="resetPasswordForm.errors?.passwordMismatch">
              Passwords do not match!
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex flex-column align-items-center mt-4">
          <button type="submit" class="btn btn-primary w-100 custom-button">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
