<div class="event-container">
  <!-- Main Title -->
  <div class="main-title">
    <h1>Create a New Event</h1>
  </div>

  <div class="form-sections">
    <!-- Event Details -->
    <div class="section event-details">
      <h2>Event Details</h2>
      <form>
        <label class="custom-label fw-bold">Title</label>
        <div class="form-group">
          <input type="text" placeholder="Event Title" [(ngModel)]="eventData.title" name="title" />
        </div>
        <label class="custom-label fw-bold">Description</label>
        <div class="form-group">
          <textarea placeholder="Description" [(ngModel)]="eventData.description" name="description"></textarea>
        </div>
        <label class="custom-label fw-bold">Date</label>
        <div class="form-group">
          <input type="date" placeholder="Date of Event" [(ngModel)]="eventData.dateOfEvent" name="dateOfEvent" />
        </div>
        <label class="custom-label fw-bold">Category</label>
        <div class="form-group">
          <input type="text" placeholder="Category" [(ngModel)]="eventData.category" name="category" />
        </div>
        <label class="custom-label fw-bold">Duration (minutes)</label>
        <div class="form-group">
          <input type="number" placeholder="Duration (minutes)" [(ngModel)]="eventData.duration" name="duration" />
        </div>
      </form>
    </div>

    <!-- Performances -->
    <div class="section performances">
      <h2>Performances</h2>

      <!-- List of Created Performances -->
      <ul class="performance-list">
        <li *ngFor="let performance of performances">
          <span>{{ performance.name }}</span>
        </li>
      </ul>


      <!-- Button to Create Performance -->
      <button type="button" class="btn-create-performance" (click)="togglePerformanceForm()">Create Performance</button>

      <!-- Performance Form -->
      <div *ngIf="showPerformanceForm" class="performance-form">
        <form>
          <div class="form-group">
            <label class="custom-label fw-bold">Performance name</label>
            <input type="text" placeholder="Performance name" [(ngModel)]="newPerformance.name" name="performanceName" />
          </div>
          <!-- Select Artist -->
          <div class="form-group artist-select">
            <label class="custom-label fw-bold">Artist</label>
            <div class="select-container">
              <select [(ngModel)]="newPerformance.artistId" [ngModelOptions]="{ standalone: true }">
                <option value="" disabled selected>Select Artist</option>
                <option *ngFor="let artist of artists" [value]="artist.artistId">{{ artist.artistName }}</option>
              </select>
              <button type="button" class="btn-add-inline" (click)="toggleArtistForm()">+</button>
            </div>
          </div>
          <!-- Artist Form -->
          <div *ngIf="showArtistForm" class="artist-form">
            <h3>Create New Artist</h3>

            <form>
              <label class="custom-label fw-bold">First name</label>
              <div class="form-group">
                <input type="text" placeholder="First Name" [(ngModel)]="newArtist.firstName" name="firstName" />
              </div>
              <label class="custom-label fw-bold">Surname</label>
              <div class="form-group">
                <input type="text" placeholder="Surname" [(ngModel)]="newArtist.surname" name="surname" />
              </div>
              <label class="custom-label fw-bold">Artist/ Band name</label>
              <div class="form-group">
                <input type="text" placeholder="Artist/ Band name" [(ngModel)]="newArtist.artistName" name="artistName" />
              </div>
              <button type="button" class="btn-save" (click)="createArtist()">Create Artist</button>
            </form>
          </div>

          <!-- Select Location -->
          <div class="form-group location-select">
            <label class="custom-label fw-bold">Location</label>
            <div class="select-container">
              <select [(ngModel)]="newPerformance.locationId" [ngModelOptions]="{ standalone: true }">
                <option value="" disabled selected>Select Location</option>
                <option *ngFor="let location of locations" [value]="location.locationId">{{ location.name }}</option>
              </select>
              <button type="button" class="btn-add-inline" (click)="toggleLocationForm()">+</button>
            </div>
          </div>
          <!-- Location Form -->
          <div *ngIf="showLocationForm" class="location-form">
            <h3>Create New Location</h3>
            <form>
              <label class="custom-label fw-bold">Location name</label>
              <div class="form-group">
                <input type="text" placeholder="Location name" [(ngModel)]="newLocation.name" name="locationName" />
              </div>
              <label class="custom-label fw-bold">Street</label>
              <div class="form-group">
                <input type="text" placeholder="Street" [(ngModel)]="newLocation.street" name="street" />
              </div>
              <label class="custom-label fw-bold">City</label>
              <div class="form-group">
                <input type="text" placeholder="City" [(ngModel)]="newLocation.city" name="city" />
              </div>
              <label class="custom-label fw-bold">Postal code</label>
              <div class="form-group">
                <input type="text" placeholder="Postal Code" [(ngModel)]="newLocation.postalCode" name="postalCode" />
              </div>
              <label class="custom-label fw-bold">Country</label>
              <div class="form-group">
                <input type="text" placeholder="Country" [(ngModel)]="newLocation.country" name="country" />
              </div>
              <button type="button" class="btn-save" (click)="createLocation()">Create Location</button>
            </form>
          </div>
          <label class="custom-label fw-bold">Date</label>
          <div class="form-group">
            <input type="date" placeholder="Performance Date" [(ngModel)]="newPerformance.date" name="performanceDate" />
          </div>
          <label class="custom-label fw-bold">Hall</label>
          <div class="form-group">
            <select [(ngModel)]="newPerformance.hall" (change)="updateTicketNumber()" name="Hall">
              <option value="" disabled selected>Select Hall</option>
              <option value="A">Hall A</option>
              <option value="B">Hall B</option>
              <option value="C">Hall C</option>
            </select>
          </div>
          <label class="custom-label fw-bold">Number of tickets</label>
          <div class="form-group">
            <input type="number" placeholder="Number of tickets" [value]="newPerformance.ticketNumber" disabled name="ticketNumber" /> <!-- readonly -->
          </div>
          <button type="button" class="btn-save-performance" (click)="createPerformance()">Save Performance</button>
        </form>
      </div>
    </div>
    <div class="submit-container">
      <button type="button" class="btn-create" (click)="onSubmit()">Create Event</button>
    </div>
  </div>
</div>
