<div class="user-orders">
  <div class="main-title">
    <h1>My Tickets</h1>
  </div>

  <section *ngIf="reservedTickets.length > 0" class="section">
    <h2>Current Reservations</h2>
    <div *ngFor="let group of reservedTickets" class="ticket-group">
      <div class="ticket-header" (click)="group.showDetails = !group.showDetails">
        <h3>{{ group.date | date: 'yyyy-MM-dd HH:mm' }}</h3>
        <span class="toggle-arrow" [class.expanded]="group.showDetails">&#x25BC;</span>
      </div>

      <div *ngIf="group.showDetails">
        <div class="ticket-section">
          <h4>Reserved Tickets</h4>
          <ul>
            <li *ngFor="let ticket of group.reserved">
              <div class="ticket-details">
                <span><strong>Reservation Number:</strong> {{ ticket.reservationNumber }}</span>
                <span><strong>Performance Name:</strong> {{
                    getPerformanceNameOfReservation(ticket.performanceId)
                  }}</span>
                <span><strong>Artist:</strong> {{
                    getArtistNameOfReservation(ticket.performanceId)
                  }}</span>
                <span><strong>Location:</strong> {{
                    getPerformanceLocationOfReservation(ticket.performanceId)
                  }}</span>
                <span><strong>Date and Time:</strong> {{ ticket.date | date: 'yyyy-MM-dd HH:mm' }}</span>
                <span><strong>Ticket Type:</strong> {{ ticket.ticketType }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Seat Number:</strong> {{ ticket.seatNumber }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Row Number:</strong> {{ ticket.rowNumber }}</span>
                <span><strong>Price Category:</strong> {{ ticket.priceCategory }}</span>
                <span><strong>Price:</strong> {{ ticket.price | currency }}</span>
              </div>
              <div class="cancel-button">
                <button class="btn btn-primary" (click)="showCancelMessageReservation(ticket)">
                  Cancel Ticket
                </button>
                <button class="btn btn-purple" (click)="addToCart(ticket)">
                  <i class="bi bi-cart me-2"></i>Add to Cart
                </button>
              </div>

              <br>
            </li>
            <div class="cancel-button">
              <button class="btn btn-primary"
                      (click)="showCancelMessageCompleteReservation(group.reserved)">
                Cancel Reservation
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="purchasedTickets.length > 0" class="section">
    <h2>Current Purchases</h2>
    <div *ngFor="let group of purchasedTickets" class="ticket-group">
      <div class="ticket-header" (click)="group.showDetails = !group.showDetails">
        <h3>{{ group.date | date: 'yyyy-MM-dd HH:mm' }}</h3>
        <span class="toggle-arrow" [class.expanded]="group.showDetails">&#x25BC;</span>
      </div>

      <div *ngIf="group.showDetails">
        <div class="ticket-section">
          <h4>Purchased Tickets</h4>
          <ul>
            <li *ngFor="let ticket of group.purchased">
              <div class="ticket-details">
                <span><strong>Reservation Number:</strong> {{ ticket.reservationNumber }}</span>
                <span><strong>Performance Name:</strong> {{
                    getPerformanceName(ticket.performanceId)
                  }}</span>
                <span><strong>Artist:</strong> {{ getArtistName(ticket.performanceId) }}</span>
                <span><strong>Location:</strong> {{ getPerformanceLocation(ticket.performanceId) }}</span>
                <span><strong>Date and Time:</strong> {{ ticket.date | date: 'yyyy-MM-dd HH:mm' }}</span>
                <span><strong>Ticket Type:</strong> {{ ticket.ticketType }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Seat Number:</strong> {{ ticket.seatNumber }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Row Number:</strong> {{ ticket.rowNumber }}</span>
                <span><strong>Price Category:</strong> {{ ticket.priceCategory }}</span>
                <span><strong>Price:</strong> {{ ticket.price | currency }}</span>
              </div>
              <div class="cancel-button">
                <button class="btn btn-primary" (click)="showCancelMessagePurchase(ticket)">
                  Cancel Ticket
                </button>
              </div>
              <br>
            </li>
            <div class="cancel-button">
              <button class="btn btn-primary" (click)="fetchPurchaseForInvoice(group.purchased)">
                Download Invoice
              </button>
              <button class="btn btn-primary"
                      (click)="showCancelMessageCompletePurchase(group.purchased)">
                Cancel Purchase
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="pastTickets.length > 0" class="section">
    <h2>Purchase History</h2>
    <div *ngFor="let group of pastTickets" class="ticket-group">
      <div class="ticket-header" (click)="group.showDetails = !group.showDetails">
        <h3>{{ group.date | date: 'yyyy-MM-dd HH:mm' }}</h3>
        <span class="toggle-arrow" [class.expanded]="group.showDetails">&#x25BC;</span>
      </div>

      <div *ngIf="group.showDetails">
        <div class="ticket-section">
          <h4>Purchased Tickets</h4>
          <ul>
            <li *ngFor="let ticket of group.purchased">
              <div class="ticket-details">
                <span><strong>Reservation Number:</strong> {{ ticket.reservationNumber }}</span>
                <span><strong>Performance Name:</strong> {{
                    getPerformanceName(ticket.performanceId)
                  }}</span>
                <span><strong>Artist:</strong> {{ getArtistName(ticket.performanceId) }}</span>
                <span><strong>Location:</strong> {{ getPerformanceLocation(ticket.performanceId) }}</span>
                <span><strong>Date and Time:</strong> {{ ticket.date | date: 'yyyy-MM-dd HH:mm' }}</span>
                <span><strong>Ticket Type:</strong> {{ ticket.ticketType }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Seat Number:</strong> {{ ticket.seatNumber }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Row Number:</strong> {{ ticket.rowNumber }}</span>
                <span><strong>Price Category:</strong> {{ ticket.priceCategory }}</span>
                <span><strong>Price:</strong> {{ ticket.price | currency }}</span>
              </div>
            </li>
            <div class="cancel-button">
              <button class="btn btn-primary" (click)="fetchPurchaseForInvoice(group.purchased)">
                Download Invoice
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="alreadyCancelTickets.length > 0" class="section">
    <h2>Cancelled Purchases</h2>
    <div *ngFor="let group of alreadyCancelTickets" class="ticket-group">
      <div class="ticket-header" (click)="group.showDetails = !group.showDetails">
        <h3>{{ group.date | date: 'yyyy-MM-dd HH:mm' }}</h3>
        <span class="toggle-arrow" [class.expanded]="group.showDetails">&#x25BC;</span>
      </div>

      <div *ngIf="group.showDetails">
        <div class="ticket-section">
          <h4>Cancelled Tickets</h4>
          <ul>
            <li *ngFor="let ticket of group.cancel">
              <div class="ticket-details">
                <span><strong>Reservation Number:</strong> {{ ticket.reservationNumber }}</span>
                <span><strong>Performance Name:</strong> {{
                    getPerformanceNameCancel(ticket.performanceId)
                  }}</span>
                <span><strong>Artist:</strong> {{
                    getArtistNameCancel(ticket.performanceId)
                  }}</span>
                <span><strong>Location:</strong> {{
                    getPerformanceLocationCancel(ticket.performanceId)
                  }}</span>
                <span><strong>Date and Time:</strong> {{ ticket.date | date: 'yyyy-MM-dd HH:mm' }}</span>
                <span><strong>Ticket Type:</strong> {{ ticket.ticketType }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Seat Number:</strong> {{ ticket.seatNumber }}</span>
                <span
                  *ngIf="ticket.ticketType !== 'STANDING'"><strong>Row Number:</strong> {{ ticket.rowNumber }}</span>
                <span><strong>Price Category:</strong> {{ ticket.priceCategory }}</span>
                <span><strong>Price:</strong> {{ ticket.price | currency }}</span>
              </div>
            </li>
            <div class="cancel-button">
              <button class="btn btn-primary"
                      (click)="fetchCancelPurchaseForInvoice(group.cancel)">
                Download Invoice
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Wenn keine Tickets vorhanden sind -->
  <ng-container
    *ngIf="reservedTickets.length === 0 && purchasedTickets.length === 0 && pastTickets.length === 0">
    <p>You have no tickets yet.</p>
  </ng-container>

  <!-- start of the cancellation invoice -->

  <div class="invoice-div">
    <!DOCTYPE html>
    <html lang="de">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cancellation Invoice</title>
    </head>
    <body>
    <div class="invoice-container">
      <div class="invoice-header">
        <h1>Ticket-Cancellation Invoice</h1>
        <div>
          <p>Cancellation Invoice Date: <strong>{{ setInvoiceDate() | date: 'yyyy-MM-dd' }}</strong>
          </p>
          <p>Cancellation Invoice Number: <strong>{{ setInvoiceNumber() }}</strong></p>
        </div>
      </div>

      <table class="invoice-details">
        <tr>
          <td>
            <strong>Issuer:</strong> <br>
            Ticketline - GmbH<br>
            Wiedner Hautpstrasse 76/2/2<br>
            1040 Wien <br>
            E-Mail: info&#64;ticketline-website.at<br>
            UID: ATU12345678
          </td>
          <td>
            <strong>Recipient:</strong><br>
            {{ userFirstName }} {{ userLastName }}<br>
            {{ this.address.street }}<br>
            {{ this.address.postalCode }} {{ this.address.city }}<br>
            E-Mail: {{ userEmail }} <br>
          </td>
        </tr>
      </table>

      <table class="invoice-items">
        <thead>
        <tr>
          <th>Performance</th>
          <th>Row Number</th>
          <th>Seat Number</th>
          <th>Sector</th>
          <th>Ticket Type</th>
          <th>Quantity</th>
          <th>Unit Price incl. tax</th>
          <th>Tax (13%)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cancelTicket of cancelledTickets">
          <td>{{ getTicketPerformanceForInvoice(cancelTicket.performanceId) }}</td>
          <td>{{ cancelTicket.rowNumber }}</td>
          <td>{{ cancelTicket.seatNumber }}</td>
          <td>{{ cancelTicket.sectorType }}</td>
          <td>{{ cancelTicket.ticketType }}</td>
          <td>{{ 1 }}</td>
          <td>{{ cancelTicket.price }} €</td>
          <td>{{ ((cancelTicket.price / 113) * 100) * 0.13 | number: '1.2-2' }} €</td>
        </tr>
        </tbody>
      </table>

      <div class="page-break"></div>

      <table class="invoice-footer">
        <tr>
          <td><strong>Total Price excl. tax.:</strong></td>
          <td><strong>{{ getCancelTicketsPrice(cancelledTickets)| number: '1.2-2' }} €</strong></td>
        </tr>
        <tr>
          <td><strong>sales Tax (13%):</strong></td>
          <td><strong>{{
              ((getCancelTicketsPrice(cancelledTickets) / 113) * 100) * 0.13 | number: '1.2-2'
            }}€</strong>
          </td>
        </tr>
        <tr>
          <td><strong>Total Price incl. tax:</strong></td>
          <td><strong>{{ getCancelTicketsPrice(cancelledTickets)| number: '1.2-2' }} €</strong></td>
        </tr>
      </table>

      <div class="invoice-bank">
        <p> Your purchase has been successfully cancelled and the tickets are available again.</p>
        <p> The above mentioned amount will be transferred back to your bank account within the next
          7
          business days.</p>
        <p> If you have any further questions please contact our customer service. </p>
      </div>
    </div>
    </body>


    </html>
    <div class="invoice-div-download">
      <!DOCTYPE html>
      <html lang="de">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Invoice</title>
      </head>
      <body>
      <div class="invoice-container-download">
        <div class="invoice-header">
          <h1 *ngIf="this.cancelInvDownload">Cancel Invoice</h1>
          <h1 *ngIf="!this.cancelInvDownload">Invoice</h1>
          <div>
            <p>Invoice Date:
              <strong>{{ invoicePurchase.purchaseDate | date: 'yyyy-MM-dd' }}</strong></p>
            <p>Invoice Number: <strong>{{ setInvoiceNumber() }}</strong></p>
          </div>
        </div>

        <table class="invoice-details">
          <tr>
            <td>
              <strong>Issuer:</strong> <br>
              Ticketline - GmbH<br>
              Wiedner Hautpstrasse 76/2/2<br>
              1040 Wien <br>
              E-Mail: info&#64;ticketline-website.at<br>
              UID: ATU12345678
            </td>
            <td>
              <strong>Recipient:</strong><br>
              {{ userFirstName }} {{ userLastName }}<br>
              {{ this.invoicePurchase.street }}<br>
              {{ this.invoicePurchase.postalCode }} {{ this.invoicePurchase.city }}<br>
              E-Mail: {{ userEmail }} <br>
            </td>
          </tr>
        </table>

        <table class="invoice-items">
          <thead>
          <tr>
            <th>Performance</th>
            <th>Row Number</th>
            <th>Seat Number</th>
            <th>Sector</th>
            <th>Ticket Type</th>
            <th>Quantity</th>
            <th>Unit Price incl. tax</th>
            <th>Tax (13%)</th>
          </tr>
          </thead>
          <tbody>
            @for (invTicket of invoiceTickets; track invTicket) {
              <tr>
                <td *ngIf="this.cancelInvDownload"> {{
                    getPerformanceNameCancel(invTicket.performanceId)
                  }}
                </td>
                <td *ngIf="!this.cancelInvDownload">{{
                    getTicketPerformanceForInvoice(invTicket.performanceId)
                  }}
                </td>
                <td>{{ invTicket.rowNumber }}</td>
                <td>{{ invTicket.seatNumber }}</td>
                <td>{{ invTicket.sectorType }}</td>
                <td>{{ invTicket.ticketType }}</td>
                <td>{{ 1 }}</td>
                <td>{{ invTicket.price }} €</td>
                <td>{{ ((invTicket.price / 113) * 100) * 0.13 | number: '1.2-2' }} €</td>
              </tr>
            }
          </tbody>
        </table>

        <div class="page-break"></div>

        <table class="invoice-footer">
          <td><strong>Total Price excl. tax.:</strong></td>
          <td><strong>{{ (this.invoicePurchase.totalPrice / 113) * 100 | number: '1.2-2' }}
            €</strong></td>
          <td><strong>Sales Tax:</strong></td>
          <td><strong>{{ ((this.invoicePurchase.totalPrice / 113) * 100) * 0.13 | number: '1.2-2' }}
            €</strong></td>
          <td><strong>Total Price incl. tax:</strong></td>
          <td><strong>{{ this.invoicePurchase.totalPrice| number: '1.2-2' }} €</strong></td>
        </table>

        <div class="invoice-bank">
          <p *ngIf="this.cancelInvDownload"> Your purchase has been successfully cancelled and the
            tickets are available again.</p>
          <p *ngIf="this.cancelInvDownload"> The above mentioned amount will be transferred back to
            your
            bank account within the next
            7 business days.</p>
          <p *ngIf="!this.cancelInvDownload">Thank you for your purchase at Ticket-Line!</p>
          <p> Tax Information: Tickets have a 13% sales tax.</p>
        </div>
      </div>
      </body>
      </html>
    </div>
  </div>
</div>

<div class="invoice-div-download">
  <!DOCTYPE html>
  <html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
  </head>
  <body>
  <div class="invoice-container">
    <div class="invoice-header">
      <h1>Invoice</h1>
      <div>
        <p>Invoice Date: <strong>{{ setInvoiceDate() | date: 'yyyy-MM-dd' }}</strong></p>
        <p>Invoice Number: <strong>{{ setInvoiceNumber() }}</strong></p>
      </div>
    </div>

    <table class="invoice-details">
      <tr>
        <td>
          <strong>Issuer:</strong> <br>
          Ticketline - GmbH<br>
          Wiedner Hautpstrasse 76/2/2<br>
          1040 Wien <br>
          E-Mail: info&#64;ticketline-website.at<br>
          UID: ATU12345678
        </td>
        <td>
          <strong>Recipient:</strong><br>
          {{ userFirstName }} {{ userLastName }}<br>
          {{ invoicePurchase.street }}<br>
          {{ invoicePurchase.postalCode }} {{ invoicePurchase.city }}<br>
          E-Mail: {{ userEmail }} <br>
        </td>
      </tr>
    </table>

    <table class="invoice-items">
      <thead>
      <tr>
        <th>Row Number</th>
        <th>Seat Number</th>
        <th>Sector</th>
        <th>Ticket Type</th>
        <th>Quantity</th>
        <th>Unit Price incl. tax</th>
        <th>Tax (13%)</th>
      </tr>
      </thead>
      <tbody>
        @for (ticket of invoiceTickets; track ticket) {
          <tr>
            <td>{{ ticket.rowNumber }}</td>
            <td>{{ ticket.seatNumber }}</td>
            <td>{{ ticket.sectorType }}</td>
            <td>{{ ticket.ticketType }}</td>
            <td>{{ 1 }}</td>
            <td>{{ ticket.price }} €</td>
            <td>{{ ((ticket.price / 113) * 100) * 0.13 | number: '1.2-2' }} €</td>
          </tr>
        }
      </tbody>
    </table>
    <table class="invoice-footer">
      <td><strong>Total Price excl. tax.:</strong></td>
      <td><strong>{{ (invoicePurchase.totalPrice / 113) * 100 | number: '1.2-2' }} €</strong></td>
      <td><strong>Sales Tax:</strong></td>
      <td><strong>{{ ((invoicePurchase.totalPrice / 113) * 100) * 0.13 | number: '1.2-2' }}
        €</strong></td>
      <td><strong>Total Price incl. tax:</strong></td>
      <td><strong>{{ invoicePurchase.totalPrice| number: '1.2-2' }} €</strong></td>
    </table>

    <div class="invoice-bank">
      <p>Thank you for your purchase at Ticket-Line!</p>
      <p> Tax Information: Tickets have a 13% sales tax.</p>
    </div>
  </div>
  </body>
  </html>
</div>

@if (showConfirmDeletionDialogPTicket) {
  <app-confirm-dialog
    [mode]="ConfirmationDialogMode.confirm"
    [message]="cancelMessagePurchase"
    (confirm)="cancelPurchasedTicket(cancelledTicket)"
    (cancel)="showConfirmDeletionDialogPTicket = false">
  </app-confirm-dialog>
}

@if (showConfirmDeletionDialogAllP) {
  <app-confirm-dialog
    [mode]="ConfirmationDialogMode.confirm"
    [message]="cancelMessagePurchase"
    (confirm)="cancelCompletePurchase(cancelledTickets)"
    (cancel)="showConfirmDeletionDialogAllP = false">
  </app-confirm-dialog>
}

@if (showConfirmDeletionDialogReTicket) {
  <app-confirm-dialog
    [mode]="ConfirmationDialogMode.confirm"
    [message]="cancelMessageReservation"
    (confirm)="cancelReservationTicket(cancelledTicket)"
    (cancel)="showConfirmDeletionDialogReTicket = false">
  </app-confirm-dialog>
}

@if (showConfirmDeletionDialogAllRes) {
  <app-confirm-dialog
    [mode]="ConfirmationDialogMode.confirm"
    [message]="cancelMessageReservation"
    (confirm)="cancelCompleteReservation(cancelledTickets)"
    (cancel)="showConfirmDeletionDialogAllRes = false">
  </app-confirm-dialog>
}


