//temporary CSS - should be replaced when we agreed on a style
// General Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Ensure no interference with ngx-toastr styles
*:not(.toast),
*:not(.toast *) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #A7A3FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  color: #343a40;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col {
  flex: 1;
}

.col-auto {
  flex: 0;
}

/* Form Styles */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #495057;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
  color: #495057;
}

input[type="file"] {
  display: block;
  margin-top: 10px;
}

.img-thumbnail {
  max-height: 100px;
  max-width: 100px;
  margin-top: 10px;
}

/* Button Styles */
button[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}
