<div *ngIf="error" xmlns="http://www.w3.org/1999/html" class="alert alert-warning alert-dismissible fade show"
     role="alert">
  <strong>Error!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid mt-3">
  <!-- Header -->
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="custom-heading">Administrator menu</h1>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="row justify-content-center my-3">
    <div class="col-md-6 d-flex justify-content-evenly">
      <button class="btn btn-primary btn-create" (click)="navigateToCreateNews()">
        <i class="bi bi-plus-lg"></i> Create News
      </button>
      <button class="btn btn-primary btn-create" (click)="navigateToCreateEvent()">
        <i class="bi bi-plus-lg"></i> Create Event
      </button>
      <button class="btn btn-primary btn-create" (click)="navigateToCreateUser()">
        <i class="bi bi-person-plus"></i> Create User
      </button>
      <button class="btn btn-primary btn-create" (click)="navigateToCreateMerchandise()">
        <i class="bi bi-plus-lg"></i> Create Merch
      </button>
    </div>
  </div>

  <!-- User Table -->
  <div class="row justify-content-center user-table">
    <div class="col-md-8">
      <table class="table table-striped table-hover text-center">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of displayedUsers" [ngClass]="{'table-danger': user.locked, 'table-warning': user.admin}">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>@if (user.admin) {
            Admin
          } @else {
            User
          }</td>
          <td>@if(user.locked){
            <i class="bi bi-lock-fill"></i> Locked
          } @else {
            <i class="bi bi-unlock-fill"></i> Unlocked
          }</td>
          <td>
            <div class="btn-group button-cell">
            @if(user.locked) {
              <button class="btn btn-success btn-sm" [disabled]="currentUserEmail === user.email" (click)="unlockUser(user.id)">
                <i class="bi bi-unlock-fill"></i>
              </button>
            } @else {
              <button class="btn btn-danger btn-sm toggle-locked" [disabled]="currentUserEmail === user.email" (click)="lockUser(user.id)">
                <i class="bi bi-lock-fill"></i>
              </button>
            }
            <button class="btn btn-danger btn-sm delete-user" (click)="showDeleteMessage(user.email)"><i class="bi bi-trash"></i></button>
            <button class="btn btn-secondary btn-sm reset-password" (click)="resetPassword(user.email)">
              reset password
            </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- pagination -->
    <div class="pagination my-4 d-flex justify-content-center">
      <!-- Previous Button -->
      <button
        class="btn btn-light me-2"
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        &larr;
      </button>

      <!-- First Page Button -->
      <button
        *ngIf="paginationButtons[0] > 1"
        class="btn me-2"
        (click)="goToPage(1)"
        [class.active]="currentPage === 1"
        [ngClass]="{ 'btn-primary': currentPage === 1, 'btn-light': currentPage !== 1 }"
      >
        1
      </button>

      <!-- Ellipsis for pages before the range -->
      <span *ngIf="paginationButtons[0] > 2" class="me-2">...</span>

      <!-- Dynamic Pagination Buttons -->
      <ng-container *ngFor="let page of paginationButtons">
        <button
          class="btn me-2"
          (click)="goToPage(page)"
          [class.active]="currentPage === page"
          [ngClass]="{ 'btn-primary bg-purp': currentPage === page, 'btn-light': currentPage !== page }"
        >
          {{ page }}
        </button>
      </ng-container>

      <!-- Ellipsis for pages after the range -->
      <span *ngIf="paginationButtons[paginationButtons.length - 1] < totalPages - 1" class="me-2">...</span>

      <!-- Last Page Button -->
      <button
        *ngIf="paginationButtons[paginationButtons.length - 1] < totalPages"
        class="btn me-2"
        (click)="goToPage(totalPages)"
        [class.active]="currentPage === totalPages"
        [ngClass]="{ 'btn-primary': currentPage === totalPages, 'btn-light': currentPage !== totalPages }"
      >
        {{ totalPages }}
      </button>

      <!-- Next Button -->
      <button
        class="btn btn-light"
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        &rarr;
      </button>
    </div>
  </div>
  <!-- Render child components -->
  <router-outlet></router-outlet>
</div>

@if (showConfirmDeletionDialog) {
  <app-confirm-dialog
    [mode]="ConfirmationDialogMode.delete"
    [message]="deleteMessage"
    (confirm)="deleteUser()"
    (cancel)="showConfirmDeletionDialog = false">
  </app-confirm-dialog>
}
