body {
  background-color: #A7A3FF;
}

.custom-heading {
  color: #3e3e3e;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.signup-left {
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3e3e3e;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.signup-right {
  width: 100%;
  max-width: 400px;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-group {
      position: relative;
      color: #6c63ff;

      input {
        width: 100%;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        outline: none;
        background-color: #F0EFFF;
        color: #333;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;

        &::placeholder {
          color: #A7A3FF;
          font-size: 1rem;
        }

        &:focus {
          border-color: #7d5efc;
          box-shadow: 0px 4px 10px rgba(125, 94, 252, 0.3);
        }
      }
    }
  }
}

.custom-label {
  color: #333;
}

.custom-input {
  background-color: #F0EFFF;
  color: #333;
  border-radius: 8px;
}

.custom-input::placeholder {
  color: #A7A3FF;
}

.custom-input:focus {
  border-color: #7d5efc;
  box-shadow: 0px 4px 10px rgba(125, 94, 252, 0.3);
}

.custom-button {
  width: 100%;
  padding: 15px;
  background-color: #4D47C3;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #514dc7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
}
.custom-button:hover {
  background-color: #514dc7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-color: #514dc7;
}

.forgot-password-container {
  display: flex;
  justify-content: flex-end;
}

.forgot-password {
  color: #6c63ff;
  text-decoration: none;
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper .bi {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #A7A3FF
}

