<div class="cart-container">
  <h2>Your Cart</h2>
  <div class="points-header mb-3">
    <h3 style="background-color: #4D47C3; color: white;"
        class="bg-primary text-light p-2 rounded d-inline-block">
      Available points: {{ accountPoints }}
    </h3>
  </div>

  <div class="cart-content">
    <!-- Payment Options Sidebar -->
    <div class="payment-options">
      <h3>Payment Options</h3>
      <div class="payment-methods">
        <label class="payment-option" [class.selected]="selectedPaymentOption === 'creditCard'">
          <input type="radio" name="paymentOption" value="creditCard"
                 [(ngModel)]="selectedPaymentOption"/>
          <i class="fas fa-credit-card"></i>
          Credit Card
        </label>
        <label class="payment-option" [class.selected]="selectedPaymentOption === 'paypal'">
          <input type="radio" name="paymentOption" value="paypal"
                 [(ngModel)]="selectedPaymentOption"/>
          <i class="fab fa-paypal"></i>
          PayPal
        </label>
        <label class="payment-option" [class.selected]="selectedPaymentOption === 'bankTransfer'">
          <input type="radio" name="paymentOption" value="bankTransfer"
                 [(ngModel)]="selectedPaymentOption"/>
          <i class="fas fa-university"></i>
          Bank Transfer
        </label>
        <label class="payment-option" [class.selected]="selectedPaymentOption === 'points'">
          <input type="radio" name="paymentOption" value="points"
                 [(ngModel)]="selectedPaymentOption"/>
          <i class="fas fa-coins"></i>
          Pay with Points
        </label>
      </div>
      <div class="payment-buttons">
        <button class="btn btn-primary" (click)="buy()">Buy</button>
      </div>
      <div class="payment-buttons" [hidden]="true">
        <button class="btn-download" (click)="generatePDF()"> Download/Print Receipt</button>
      </div>

    </div>

    <!-- Cart Table -->
    <div class="cart-table">
      <div *ngIf="cartItems.length > 0; else emptyCart">
        <table class="table">
          <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cartItem of cartItems">
            <td>
              <img
                [src]="'http://localhost:8080/merchandise/' + cartItem.item.imageUrl"
                alt="{{ cartItem.item.name }}"
                width="50"
              />
            </td>
            <td>{{ cartItem.item.name }}</td>
            <td>{{ cartItem.item.price | number: '1.2-2' }} €</td>
            <td>
              <input
                type="number"
                [(ngModel)]="cartItem.quantity"
                (change)="updateQuantity(cartItem.item, cartItem.quantity)"
                min="1"
              />
            </td>
            <td>
              <button class="btn btn-danger" (click)="removeFromCart(cartItem.item)"><i
                class="bi bi-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- Conditionally Render Totals -->
        <div class="totals">
          <h3 *ngIf="selectedPaymentOption === 'points'">
            Points Total: {{ getTotalPoints() }}
          </h3>
          <h3 *ngIf="selectedPaymentOption !== 'points'">
            Total: {{ getTotalPrice() | number: '1.2-2' }} €
          </h3>
        </div>
      </div>

      <ng-template #emptyCart>
        <p></p>
      </ng-template>
    </div>
  </div>
</div>

<!-- Hidden invoice html for creating the receipt -->

<div class="invoice-div">
  <!DOCTYPE html>
  <html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechnung</title>
  </head>
  <body>
  <div class="invoice-container">
    <div class="invoice-header">
      <!-- Logo hier einfügen lädt nicht -->
      <h1>Rechnung</h1>
      <div>
        <p>Rechnungsdatum: <strong>{{ setInvoiceDate() | date: 'dd.MM.yyyy' }}</strong></p>
        <p>Rechnungsnummer: <strong>2024-001</strong></p>
      </div>
    </div>

    <table class="invoice-details">
      <tr>
        <td>
          <strong>Rechnungssteller:</strong> <br>
          Ticketline- GmbH<br>
          Wiedner Hautpstrasse 76/2/2<br>
          1040 Wien <br>
          E-Mail: info&#64;ticketline-website.at<br>
          UID: ATU12345678
        </td>
        <td>
          <strong>Rechnung an:</strong><br>
          {{ userFirstName }} {{ userLastName }}<br>
          Beispielweg 2<br>
          67890 Beispielstadt<br>
          E-Mail: {{ userEmail }} <br>
          Zahlungsmethode: {{ selectedPaymentOption }}
        </td>
      </tr>
    </table>

    <table class="invoice-items">
      <thead>
      <tr>
        <th>Beschreibung</th>
        <th>Menge</th>
        <th>Einzelpreis</th>
        <th>Gesamtpreis</th>
      </tr>
      </thead>
      <tbody>
        @for (item of cartItems; track item) {
          <tr>
            <td>{{ item.item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.item.price }}</td>
            <td>{{ item.item.price * item.quantity }} €</td>
          </tr>
        }
      </tbody>
    </table>

    <table class="invoice-footer">
      <tr>
        <td><strong>Gesamtbetrag:</strong></td>
        <td><strong>{{ (getTotalPrice() / 120) * 100 | number: '1.2-2' }} €</strong></td>
      </tr>
      <tr>
        <td><strong>Umsatzsteuer (20%):</strong></td>
        <td><strong>{{ ((getTotalPrice() / 120) * 100) * 0.2 | number: '1.2-2' }} €</strong></td>
      </tr>
      <tr>
        <td><strong>Gesamtbetrag inkl. USt:</strong></td>
        <td><strong>{{ getTotalPrice()| number: '1.2-2' }} €</strong></td>
      </tr>
    </table>

    <div class="invoice-bank">
      <p>Vielen Dank für Ihren Einkauf!</p>
      <p>Bankverbindung: IBAN: AT08 1750 2024 8558 1234, BIC: BAWAATWW</p>
    </div>

  </div>
  </body>
  </html>


</div>
