<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-4">{{ event?.title }}</h1>
    <p><b>From</b> {{ event?.dateFrom }} <b>To</b> {{ event?.dateTo }}</p>
    <p class="badge bg-purp p-2">{{ event?.category }}</p>
    <p class="lead mt-3">{{ event?.description }}</p>
  </div>

  <!-- Search Results for performance -->
  <div class="table-responsive mt-4">
    <table class="table table-hover align-middle">
      <thead class="th-purp">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Time & Date</th>
        <th>Price</th>
        <th>Artist</th>
        <th>Ticket Number</th>
        <th>Hall</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="tb-light-purp">
      <tr *ngFor="let performance of performances">
        <td>{{ performance.name }}</td>
        <td>{{ performance.location.name }}</td>
        <td>{{ performance.date | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td>
          <span>{{ performance.price | currency: 'EUR' }}</span>
        </td>
        <td>{{ performance.artist.artistName }}</td>
        <td>{{ performance.ticketNumber }}</td>
        <td>{{ performance.hall }}</td>
        <td>
          <button
            class="btn btn-secondary bg-purp"
            [routerLink]="performance.hall === 'A' ? '/seatingPlanA' : '/seatingPlanB'"
            [queryParams]="{ id: performance.performanceId, hall: performance.hall }">
            <i class="bi bi-ticket-fill"></i> Tickets
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
