.seating-plan-box {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  position: relative;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Stage */
.row .bg-black {
  width: 400px;
  height: 55px;
}


/* VIP Standing */
.vip-standing {
  width: 60%;
  top: 80px;
  left: 20%;
  border: 1px solid #6c757d;
  padding: 10px;
  background-color: #ffe066;
}

/* Standing */
.standing {
  width: 60%;
  height: 18%;
  top: 163px;
  left: 20%;
  border: 1px solid #6c757d;
  padding: 20px;
  z-index:10;
  background-color: white;
}

/* Selected Section (Purple) */
.selected-sector,
.seat-box.selected-seat {
  background-color: #514dc7 !important;
  color: #fff;
}

/* Seated Back (Sectors B and C) */
.seated-back-b {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35%;
  position: absolute;
  top: 170px;
  left: 24%;
}

.seated-back-c {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  gap: 3px;
  width: auto;
  justify-content: center;
}

.seating-grid-b {
  display: grid;
  grid-template-columns: repeat(14, 13px);
  grid-template-rows: repeat(3, 15px);
  column-gap: 15px;
  row-gap: 3px;
}

/* General styling for all Sector C grids */
.seating-grid-c {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  margin: 0 auto;
  z-index:10;
}

.seating-grid-c1 {
  grid-template-columns: repeat(15, 15px);
  column-gap: 15px;
}

.seating-grid-c2 {
  grid-template-columns: repeat(16, 15px);
  column-gap: 15px;
}

.seating-grid-c3 {
  grid-template-columns: repeat(17, 15px);
  column-gap: 15px;
}

.seating-grid-c4 {
  grid-template-columns: repeat(18, 15px);
  column-gap: 15px;
}


.seating-grid-c5 {
  grid-template-columns: repeat(19, 15px);
  column-gap: 15px;
}


.seating-grid-c6 {
  grid-template-columns: repeat(20, 15px);
  column-gap: 15px;
}


.seating-grid-c7 {
  grid-template-columns: repeat(21, 15px);
  column-gap: 15px;
}


.seating-grid-c8 {
  grid-template-columns: repeat(22, 15px);
  column-gap: 15px;
}


.seating-grid-c9 {
  grid-template-columns: repeat(23, 15px);
  column-gap: 15px;
}

.seating-divider {
  width: 20px;
  height: 121%;
}


.seat-box {
  width: 25px;
  height: 15px;
  border: 1px solid #ced4da;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.seat-box.available {
  background-color: #0096ff;
}

  .seat-box.reserved {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.seat-box.sold {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.seat-box.selected-seat {
  background-color: #514dc7 ;
  color: #fff;
}


.seat-box-sector-b {
  width: 25px;
  height: 15px;
  border: 1px solid #ced4da;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.seat-box-sector-b.available {
  background-color: #28a745;


}

.seat-box-sector-b.reserved {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.seat-box-sector-b.selected-seat {
  background-color: #514dc7 ;
  color: #fff;
}

.seat-box-sector-b.sold {
  background-color: #e0e0e0;
  cursor: not-allowed;
}


/* Button Styling */
button.btn-secondary {
  background-color: gray;
  border: none;
  color: white;
}

.btn-gray {
  background-color: gray;
  border: none;
  color: white;
  z-index:10;
}

.btn-purple {
  background-color: #514dc7;
  border: none;
  color: white;
}

.btn-light-purple {
  background-color: #8573d1;
  border: none;
  color: white;
}
